<h3>
  Shared storage demo>
</h3>

<div class='demo-row'>
  <p><b>Shared storage demo</b></p>
  <a href='https://{{{publisherAUrl}}}/frequency-cap.html'>Publisher A</a>
  <a href='https://{{{publisherBUrl}}}/frequency-cap.html'>Publisher B</a>

</div>