<!--
 Copyright 2022 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<body>
  <link rel='stylesheet' href='/private-aggregation/demographics-survey.css' />
  <script defer src='/private-aggregation/demographics-survey.js'></script>
  <script>
    function checkSharedStorage() { if (!('sharedStorage' in window)) {
    document.querySelector('.demo__content').style.display = 'none';
    document.querySelector('.demo__instructions').style.display = 'inherit'; } }
  </script>
  <script>
    function resetSharedStorage(status) { console.log(`user status set to ${status} (0 is unknown / 1 is known)`);
    window.sharedStorage.set('known-customer', status); }
  </script>
  <main class='demo-container'>
    <div class='demo__navigation'>
      <p>
        [<a href='{{{demoHomeUrl}}}'> Return to main page </a>] [<a href='{{{publisherAUrl}}}/demographics-measurement'>
          Go to "Publisher" page
        </a>]
      </p>
    </div>
    <div class='demo__header'>
      <card class='demo__publisher-badge demo__publisher-badge--publisher-b'>
        <h5>Survey</h5>
      </card>
      <h3>Shared storage - Demographics measurement demo</h3>
    </div>
    <div class='demo__content'>
      <card class='demo__survey-container'>
        <form class='demo__survey-form'>
          <p>Select information to be set in Shared Storage</p>
          <div>
            <b>Select your age group</b>
            <label class='demo__radio-label' for='age-group-18-39'><input
                type='radio'
                id='age-group-18-39'
                name='age-group'
                value='18-39'
                checked
              />&nbsp 18 - 39</label>
            <label class='demo__radio-label' for='age-group-40-64'><input
                type='radio'
                id='age-group-40-64'
                name='age-group'
                value='40-64'
              />&nbsp 40 - 64</label>
            <label class='demo__radio-label' for='age-group-65+'><input
                type='radio'
                id='age-group-65+'
                name='age-group'
                value='65+'
              />&nbsp 65+</label>
          </div>
          <br />
          <div>
            <b>Select your continent</b>
            <label class='demo__radio-label' for='africa'><input
                type='radio'
                id='africa'
                name='continent'
                value='africa'
                checked
              />&nbsp Africa</label>
            <label class='demo__radio-label' for='antarctica'><input
                type='radio'
                id='antarctica'
                name='continent'
                value='antarctica'
              />&nbsp Antarctica</label>
            <label class='demo__radio-label' for='asia'><input
                type='radio'
                id='asia'
                name='continent'
                value='asia'
              />&nbsp Asia</label>
            <label class='demo__radio-label' for='australia'><input
                type='radio'
                id='australia'
                name='continent'
                value='australia'
              />&nbsp Australia</label>
            <label class='demo__radio-label' for='europe'><input
                type='radio'
                id='europe'
                name='continent'
                value='europe'
              />&nbsp Europe</label>
            <label class='demo__radio-label' for='north-america'><input
                type='radio'
                id='north-america'
                name='continent'
                value='north-america'
              />&nbsp North America</label>
            <label class='demo__radio-label' for='south-america'><input
                type='radio'
                id='south-america'
                name='continent'
                value='south-america'
              />&nbsp South America</label>
          </div>
          <br />
          <div>
            <button class='demo__submit-button' type='submit'>Submit</button>
            <button class='demo__continue-button'>
              <a href='{{{publisherAUrl}}}/demographics-measurement'>
                Continue
              </a>
            </button>
          </div>
        </form>
      </card>
      <card class='demo__description'>
        <h4>Description</h4>
        <p>
          You may want to measure the demographics of the users who has seen some content you have embedded across
          different sites.
        </p>
        <p>
          For this demo, visit the survey page to enter your demographic data where the information you enter is added
          to Shared Storage. Then visit either Publisher A or B sites which will trigger the aggregatable report to be
          sent once across both sites. The content ID, age group ID, and the geography ID dimensions are encoded into
          the aggregation key (bucket), and the count is used as the aggregatable value.
        </p>
        <p>
          The summary report generated will provide information such as "Approximately 391 users who have seen the
          content ID 743 are between the age of 18-25 and are from Europe."
        </p>
        <h4>Code</h4>
        <ul>
          <li>
            <a
              href='https://github.com/GoogleChromeLabs/shared-storage-demo/blob/main/sites/content-producer/private-aggregation/demographics-measurement.js'
              target='_blank'
            >Iframe logic</a>
            (embedded into the publisher page)
          </li>
          <li>
            <a
              href='https://github.com/GoogleChromeLabs/shared-storage-demo/blob/main/sites/content-producer/private-aggregation/demographics-measurement-worklet.js'
              target='_blank'
            >Worklet</a>
            (loaded and executed by the iframe logic)
          </li>
        </ul>
      </card>
    </div>
    <card class='demo__instructions'>
      <p>
        Shared Storage API is not enabled in your browser. Follow the
        <a
          href='https://developer.chrome.com/docs/privacy-sandbox/shared-storage/#try-the-shared-storage-api'
          target='_blank'
        >instructions</a>, and enable the the
        <b>Privacy Sandbox Ads APIs</b>
        experiment flag at
        <b>chrome://flags/#privacy-sandbox-ads-apis</b>
        with Chrome 104.0.5086.0 and above to test this Shared Storage API demo.
      </p>
    </card>
  </main>
  <script defer>
    checkSharedStorage(); const continueButtonEl = document.querySelector('.demo__continue-button')
    continueButtonEl.style.display = 'none';
  </script>
</body>
