<main class='demo-container'>
  <div class='demo__navigation'>
    <p>
      [<a href='{{{demoHomeUrl}}}'> Return to main page </a>] [<a href='{{{contentProducerUrl}}}/demographics-survey'>
        Go to "Survey" page
      </a>]
    </p>
  </div>
  <div class='demo__header'>
    <card class='demo__publisher-badge demo__publisher-badge--publisher-a'>
      <h5>Publisher A</h5>
    </card>
    <h3>Shared storage - Demographics measurement</h3>
  </div>
  <div class='demo__content'>
    <iframe
      class='demo__dsp-iframe--measurement'
      src='{{{contentProducerUrl}}}/private-aggregation/demographics-measurement.html'
    ></iframe>
    <card class='demo__description'>
      <h4>Description</h4>
      <p>
        You may want to measure the demographics of the users who has seen some content you have embedded across
        different sites.
      </p>
      <p>
        For this demo, visit the survey page to enter your demographic data where the information you enter is added to
        Shared Storage. Then visit either Publisher A or B sites which will trigger the aggregatable report to be sent
        once across both sites. The content ID, age group ID, and the geography ID dimensions are encoded into the
        aggregation key (bucket), and the count is used as the aggregatable value.
      </p>
      <p>
        The summary report generated will provide information such as "Approximately 391 users who have seen the content
        ID 743 are between the age of 18-25 and are from Europe."
      </p>
      <h4>Code</h4>
      <ul>
        <li><a
            href='https://github.com/GoogleChromeLabs/shared-storage-demo/blob/main/sites/content-producer/reach-measurement.js'
            target='_blank'
          >Iframe logic</a>
          (embedded into the publisher page)</li>
        <li><a
            href='https://github.com/GoogleChromeLabs/shared-storage-demo/blob/main/sites/content-producer/reach-measurement-worklet.js'
            target='_blank'
          >Worklet</a>
          (loaded and executed by the iframe logic)</li>
      </ul>
    </card>
  </div>
  <card class='demo__instructions'>
    <p>
      Shared Storage API is not enabled in your browser. Follow the
      <a
        href='https://developer.chrome.com/docs/privacy-sandbox/shared-storage/#try-the-shared-storage-api'
        target='_blank'
      >instructions</a>, and enable the the
      <b>Privacy Sandbox Ads APIs</b>
      experiment flag at
      <b>chrome://flags/#privacy-sandbox-ads-apis</b>
      with Chrome Canary and Dev 107.0.5292.0 and above to test this Shared Storage API demo.
    </p>
  </card>
</main>
<script defer>
  checkSharedStorage()
</script>
