<main class='demo-container'>
  <div class='demo__navigation'>
    <p>
      [<a href='{{{demoHomeUrl}}}'>Return to main page</a>] [<a href='{{{publisherBUrl}}}/known-customer'>Go to
        "Publisher B" page</a>] [<a href='{{{advertiserUrl}}}/payment-provider'>Go to "Payment provider" page</a>]
    </p>
  </div>
  <div class='demo__header'>
    <card class='demo__publisher-badge demo__publisher-badge--publisher-a'>
      <h5>Publisher A</h5>
    </card>
    <h3>Shared storage - Known customer demo</h3>
  </div>
  <div class='demo__content'>
    <iframe class='demo__dsp-iframe' src='{{{advertiserUrl}}}/url-selection/known-customer.html'></iframe>
    <card class='demo__description'>
      <h4>Description</h4>
      <p>
        There may be cases where you want to render a different element based on whether the user has been seen before
        at a different site. A payment provider may want to render a
        <em>"Register"</em>
        or
        <em>"Buy now"</em>
        button based on whether the user has registered before at the payment provider's site.
      </p>
      <p>
        In this demo, a different button will be rendered for the publishers based on the user status set from the
        payment provider page.
      </p>
      <h4>Code</h4>
      <ul>
        <li><a
            href='https://github.com/GoogleChromeLabs/shared-storage-demo/blob/main/sites/advertiser/url-selection/known-customer.js'
            target='_blank'
          >Iframe logic</a>
          (embedded into the publisher page)</li>
        <li><a
            href='https://github.com/GoogleChromeLabs/shared-storage-demo/blob/main/sites/advertiser/url-selection/known-customer-worklet.js'
            target='_blank'
          >Worklet</a>
          (loaded and executed by the iframe logic)</li>
      </ul>
    </card>
  </div>
  <card class='demo__instructions'>
    <p>
      Shared Storage API is not enabled in your browser. Follow the
      <a
        href='https://developer.chrome.com/docs/privacy-sandbox/shared-storage/#try-the-shared-storage-api'
        target='_blank'
      >instructions</a>, and enable the the
      <b>Privacy Sandbox Ads APIs</b>
      experiment flag at
      <b>chrome://flags/#privacy-sandbox-ads-apis</b>
      with Chrome 104.0.5086.0 and above to test this Shared Storage API demo.
    </p>
  </card>
</main>
<script defer>
  checkSharedStorage()
</script>