<main class='demo-container'>
  <div class='demo__navigation'>
    <p>[<a href='{{{demoHomeUrl}}}'> Return to main page </a>]</p>
  </div>
  <div class='demo__header'>
    <card class='demo__publisher-badge demo__publisher-badge--publisher-a'>
      <h5>Publisher A</h5>
    </card>
    <h3>Shared storage - Top-level navigation demo</h3>
  </div>
  <div class='demo__content'>
    <iframe class='demo__dsp-iframe' src='{{{contentProducerUrl}}}/url-selection/top-level-nav.html'></iframe>
    <card class='demo__description'>
      <h4>Description</h4>
      <p>
        Whenever the fenced frame navigates the top-level to another page, the remaining entropy budget is decreased for the origin the fenced frame is served from. Clicking on the fenced frame will navigate this demo to another page. Press the back button to return to the page. Check the DevTools / Applications tab and select the origin to see the remaining entropy budget. 
      </p>
      <h4>Code</h4>
      <ul>
        <li><a
            href='https://github.com/GoogleChromeLabs/shared-storage-demo/blob/main/sites/content-producer/ads/nav-ad.html'
            target='_blank'
          >Fenced frame code</a>
        </li>
        <li><a
            href='https://github.com/GoogleChromeLabs/shared-storage-demo/blob/main/sites/content-producer/url-selection/hover-event.js'
            target='_blank'
          >Iframe logic</a>
          (embedded into the publisher page)</li>
        <li><a
            href='https://github.com/GoogleChromeLabs/shared-storage-demo/blob/main/sites/content-producer/url-selection/hover-event-worklet.js'
            target='_blank'
          >Worklet</a>
          (loaded and executed by the iframe logic)</li>
      </ul>
    </card>
  </div>
  <card class='demo__instructions'>
    <p>
      Shared Storage API is not enabled in your browser. Follow the
      <a
        href='https://developer.chrome.com/docs/privacy-sandbox/shared-storage/#try-the-shared-storage-api'
        target='_blank'
      >instructions</a>, and enable the the
      <b>Privacy Sandbox Ads APIs</b>
      experiment flag at
      <b>chrome://flags/#privacy-sandbox-ads-apis</b>
      with Chrome 104.0.5086.0 and above to test this Shared Storage API demo.
    </p>
  </card>
</main>
<script defer>
  checkSharedStorage()
</script>
